* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.container {
  max-width: 400px;
  margin: 0 auto;
}
.card {
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  margin: 0 1rem;
}
.card img {
  border-radius: 12px;
  max-width: 100%;
}
.texto1 {
  padding: 22px 10px;
}
.texto1 h2 {
  margin-bottom: 20px;
  color: hsl(218, 44%, 22%);
}
.texto1 p {
  color: hsl(220, 15%, 55%);
}
